$loadmask-opacity: dynamic(0.5);
$loadmask-background-color: dynamic($neutral-color);
$loadmask-page-opacity: dynamic(0.75); //not this
$loadmask-page-background-color: dynamic(#000);
$loadmask-msg-background-color: dynamic(0.0); //dynamic($neutral-color);
$loadmask-msg-inner-color: dynamic($color); //not this
$loadmask-msg-padding: dynamic(0px);
$loadmask-msg-border-radius: dynamic(0.0);
$loadmask-msg-text-padding: dynamic(25px 0 0);

