#_img-chooser-view {
  font: 11px Arial, Helvetica, sans-serif;
}

#_img-chooser-view .thumb {
  padding: 10px;
}

#_img-chooser-view .thumb-wrap {
  float: left;
  margin: 10px;
  margin-right: 0;
  padding: 10px;
}

#_img-chooser-view .thumb-wrap span {
  display: block;
  overflow: hidden;
  text-align: center;
}
.dash-background {
  background-color: #f5f4f5;
}

.patient-chart-grid{

  .fa-exclamation-triangle:before{
    color: $social-google-plus-btn-background;
  }
  .x-grid-td{
    vertical-align:middle;
    img{
      @include border-radius($circle-border-radius);
    }
  }
  .x-grid-body{
    border-width:1px;
  }
}