
.telephone-grid-panel .x-fa {
  height: 20px;
  width: 20px;
  //background: $grid-item-edit-btn-color;
  line-height: 20px;
  float: left;
  margin-right: 10px;
 /** &:before {
    display: block;
    line-height: 20px;
    text-align: center;
  }
  &.fa-save {
    background-color: $grid-item-ban-btn-color;
    color: $lightest-color;
  }
  &.fa-ban {
    background-color: $grid-item-ban-btn-color;
    color: $lightest-color;
  }
  **/
  &.x-action-col-icon {
    font-size: 13px !important;
  }
}

.telephone-grid-panel {

  //.x-grid-td{
  //  vertical-align:middle;
  //  img{
  //    @include border-radius($circle-border-radius);
  //  }
  //}
  .fa-star:before {
    color: $active-heart-icon-color;
  }

  .fa-star-o:before{
    color: $inactive-heart-icon-color;
  }


  .fa-phone-square:before{
    color: $color-soft-green;
  }

  //.x-grid-body{
  //  border-width: 1px;
  //}
  //
  //.x-grid-cell-special{
  //  border-right-width: 0;
  //}
}

