//colors
$white: #fff;
$color_alto_approx: #ddd;
$color_cape_cod_approx: #404040;
$color_white_lilac_approx: #f7f9fd;
$color_storm_dust_approx: #666;
$color_apple_blossom_approx: #a94442;
$color_onahau_approx: #cff;
$black: #000;
$color_silver_chalice_approx: #aaa;
$color_denim_approx: #15c;
$color_eucalyptus_approx: #208060;
$color_gallery_approx: #f0f0f0;
$pink: pink;
$color_green_pea_approx: #1b6c51;
$color_black_haze_approx: #f7f7f7;
$black_10: rgba(0, 0, 0, 0.1);
$concrete: #f2f2f2;

//fonts
$font_0: ExtJS;
$font_1: Open Sans;
$font_2: FontAwesome !important;
$font_3: Helvetica Neue;
$font_4: helvetica;
$font_5: arial;
$font_6: verdana;
$font_7: sans-serif;
$font_8: monospace;
$font_9: th-2-2-2-2-1-1-1-1-1-1-1-1;

//urls
$url_0: url(/classic/resources/font-ext/fonts/ExtJS.eot?-tqegh9);
$url_1: url(/classic/resources/font-ext/fonts/ExtJS.eot?#iefix-tqegh9);
$url_2: url(/classic/resources/font-ext/fonts/ExtJS.ttf?-tqegh9);
$url_3: url(/classic/resources/font-ext/fonts/ExtJS.woff?-tqegh9);
$url_4: url(/classic/resources/font-ext/fonts/ExtJS.svg?-tqegh9#ExtJS);
$url_5: url(/resources/fonts/OpenSans-Light.ttf);
$url_6: url(/resources/fonts/OpenSans-LightItalic.ttf);
$url_7: url(/resources/fonts/OpenSans-Regular.ttf);
$url_8: url(/resources/fonts/OpenSans-Italic.ttf);
$url_9: url(/resources/fonts/OpenSans-Semibold.ttf);
$url_10: url(/resources/fonts/OpenSans-SemiboldItalic.ttf);
$url_11: url(/resources/fonts/OpenSans-Bold.ttf);
$url_12: url(/resources/fonts/OpenSans-BoldItalic.ttf);
$url_13: url(/resources/fonts/OpenSans-ExtraBold.ttf);
$url_14: url(/resources/fonts/OpenSans-ExtraBoldItalic.ttf);
$url_15: url(calendar/images/tip/tip-calendar-overflow-corners.gif);
$url_16: url(calendar/images/tip/tip-calendar-overflow-sides.gif);
$url_17: url(calendar/images/tools/tool-sprites-dark.png);

@font-face {
  font-family: $font_0;
  src: $url_0;
  src: $url_1 format('embedded-opentype'), $url_2 format('truetype'), $url_3 format('woff'), $url_4 format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font_1;
  src: $url_5;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: $font_1;
  src: $url_6;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: $font_1;
  src: $url_7;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: $font_1;
  src: $url_8;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: $font_1;
  src: $url_9;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: $font_1;
  src: $url_10;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: $font_1;
  src: $url_11;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: $font_1;
  src: $url_12;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: $font_1;
  src: $url_13;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: $font_1;
  src: $url_14;
  font-weight: 800;
  font-style: italic;
}
.x-calendar-event {
  position: absolute;
  overflow: hidden;
  &.x-calendar-event-static {
    position: static;
  }
  .x-calendar-event-inner {
    font-family: $font_1, $font_3, $font_4, $font_5, $font_6, $font_7;
  }
  .x-calendar-event-time {
    padding: 0 4px 0 0;
  }
  &.x-calendar-event-dragging {
    opacity: 0.8;
  }
  &.x-calendar-event-resizing {
    opacity: 0.8;
  }
  .x-calendar-event-resizer:after {
    font-size: 15.6px;
    font-family: $font_8;
    content: "=";
  }
}
.x-calendar-event-inner {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  cursor: default;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.x-calendar-event-inline-title {
  .x-calendar-event-time {
    display: inline;
  }
  .x-calendar-event-time-separator {
    display: none;
  }
  .x-calendar-event-time-end {
    display: none;
  }
  .x-calendar-event-inner {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.x-calendar-compact {
  .x-calendar-event-time {
    display: none;
  }
  .x-calendar-event-inner {
    overflow: hidden;
  }
}
.x-calendar-event-resizer {
  position: absolute;
  left: 50%;
  bottom: 0;
  cursor: s-resize;
  display: none;
}
.x-calendar-event-week-span {
  margin: 3px;
  .x-calendar-event-time {
    display: none;
  }
  .x-calendar-event-inner {
    padding: 1px 1px 1px 3px;
    font-size: 13px;
  }
}
.x-calendar-event-week-inline {
  margin: 3px;
  .x-calendar-event-time-separator {
    display: none;
  }
  .x-calendar-event-time-end {
    display: none;
  }
  .x-calendar-event-inner {
    padding: 0 0 0 3px;
    font-size: 13px;
  }
}
.x-calendar-event-day {
  margin: 1px 0;
  border-width: 1px;
  border-style: solid;
  .x-calendar-event-inner {
    padding: 2px 4px;
    font-size: 11.05px;
  }
}
.x-calendar-list-item {
  position: relative;
}
.x-calendar-list-icon {
  position: absolute;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
}
.x-calendar-list-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.x-calendar-header-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.x-calendar-header-cell {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  cursor: default;
}
.x-calendar-header-hidden-cell {
  display: none;
}
.x-calendar-header {
  background-color: $white;
  .x-calendar-header-cell {
    font-weight: normal;
    line-height: 17px;
    font-family: $font_1, $font_3, $font_4, $font_5, $font_6, $font_7;
    border: 1px solid $color_alto_approx;
    border-bottom-width: 0;
    text-align: center;
    color: $color_cape_cod_approx;
  }
  .x-calendar-header-gutter {
    background-color: $color_white_lilac_approx;
  }
}
.x-calendar-header-large {
  .x-calendar-header-cell {
    font-size: 13px;
    line-height: 17px;
    border-bottom-width: 0;
    padding: 8px 2px;
  }
  .x-calendar-header-gutter {
    width: 4em;
  }
}
.x-calendar-header-compact {
  .x-calendar-header-cell {
    font-size: 13px;
    line-height: 17px;
    border-bottom-width: 0;
    padding: 3px 2px;
  }
  .x-calendar-header-gutter {
    width: 2em;
  }
}
.x-calendar-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.x-calendar-days-table-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.x-calendar-days-header-wrap {
  width: 100%;
  display: table-cell;
  position: relative;
}
.x-calendar-days-body-row {
  display: table-row;
  width: 100%;
  height: 100%;
}
.x-calendar-days-body-cell {
  display: table-cell;
  position: relative;
  width: 100%;
}
.x-calendar-days-body-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.x-calendar-days-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.x-calendar-days-allday-events {
  position: relative;
  td {
    padding: 0;
  }
}
.x-calendar-days-allday-background-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.x-calendar-days-body-table {
  position: absolute;
  height: auto;
  td {
    padding: 0;
  }
}
.x-calendar-days-time {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  cursor: default;
}
.x-calendar-days-allday-empty-cell {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  cursor: default;
}
.x-calendar-days-day-column {
  position: relative;
  z-index: 0;
}
.x-calendar-days-day-event-container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.x-calendar-days-now-marker {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}
.x-calendar-days {
  background-color: $white;
  .x-calendar-days-header-gutter {
    background-color: $color_white_lilac_approx;
    border: 1px solid $color_alto_approx;
  }
  .x-calendar-days-allday-background-cell {
    border-right: 1px solid $color_alto_approx;
    border-top: 1px solid $color_alto_approx;
  }
  .x-calendar-days-time-ct {
    background-color: $color_white_lilac_approx;
    border-left: 1px solid $color_alto_approx;
    border-right: 1px solid $color_alto_approx;
  }
  .x-calendar-days-time {
    height: 42px;
    color: $color_storm_dust_approx;
    text-align: right;
    font-family: $font_1, $font_3, $font_4, $font_5, $font_6, $font_7;
    border-bottom: 1px solid $color_alto_approx;
  }
  .x-calendar-days-time-ampm {
    line-height: 1em;
  }
  .x-calendar-days-day-column {
    border-right: 1px solid $color_alto_approx;
  }
  .x-calendar-days-marker {
    height: 42px;
    border-bottom: 1px solid $color_alto_approx;
  }
  .x-calendar-days-marker-alt {
    height: 21px;
    border-bottom: 1px dotted $color_alto_approx;
  }
  .x-calendar-days-now-marker {
    margin: 0 5px;
    opacity: 0.7;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: $color_apple_blossom_approx;
  }
  .x-calendar-days-allday-empty-cell {
    line-height: 10px;
    border-bottom: 1px solid $color_alto_approx;
  }
  .x-calendar-days-selection {
    background-color: $color_onahau_approx;
    opacity: 0.3;
  }
}
.x-calendar-days-large {
  .x-calendar-days-day-event-container {
    margin-right: 15px;
    margin-left: 5px;
  }
  .x-calendar-days-header-gutter {
    width: 4em;
  }
  .x-calendar-days-time-ct {
    width: 4em;
  }
  .x-calendar-days-time {
    padding: 2px 2px 0 0;
    font-size: 13px;
  }
  .x-calendar-days-marker-alt {
    height: null/2;
  }
  .x-calendar-days-allday-empty-cell {
    line-height: 10px;
  }
}
.x-calendar-days-compact {
  .x-calendar-days-day-event-container {
    margin-right: 0;
    margin-left: 0;
  }
  .x-calendar-days-header-gutter {
    width: 2em;
  }
  .x-calendar-days-time-ct {
    width: 2em;
  }
  .x-calendar-days-time {
    padding: 2px 2px 0 0;
    font-size: 11.05px;
  }
  .x-calendar-days-marker-alt {
    height: null/2;
  }
  .x-calendar-days-allday-empty-cell {
    line-height: 10px;
  }
}
.x-calendar-weeks {
  position: relative;
  background-color: $white;
  .x-calendar-weeks-cell {
    border-style: solid;
    border-color: $color_alto_approx;
    border-width: 1px;
    vertical-align: top;
  }
  .x-calendar-weeks-cell-inner {
    padding: 2px 0 4px 4px;
    text-align: left;
  }
  .x-calendar-weeks-day-text {
    font-family: $font_1, $font_3, $font_4, $font_5, $font_6, $font_7;
    color: $black;
  }
  .x-calendar-weeks-selection {
    background-color: $color_onahau_approx;
    opacity: 0.3;
  }
  .x-calendar-weeks-overflow {
    color: $color_denim_approx;
    font-family: $font_1, $font_3, $font_4, $font_5, $font_6, $font_7;
  }
  .x-calendar-weeks-outside-cell .x-calendar-weeks-day-text {
    color: $color_silver_chalice_approx;
  }
}
.x-calendar-weeks-week-rows {
  width: 100%;
  height: 100%;
}
.x-calendar-weeks-cell {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  cursor: default;
}
.x-calendar-weeks-cell-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.x-calendar-weeks-hidden-cell {
  display: none;
}
.x-calendar-weeks-overflow {
  position: absolute;
  display: none;
  text-align: center;
  cursor: pointer;
}
.x-calendar-weeks-large {
  .x-calendar-weeks-day-text {
    font-size: 13px;
  }
  .x-calendar-weeks-overflow {
    font-size: 11.05px;
  }
}
.x-calendar-weeks-compact {
  .x-calendar-weeks-day-text {
    font-size: 13px;
  }
  .x-calendar-weeks-overflow {
    font-size: 11.05px;
  }
}
.x-calendar-month-4weeks {
  .x-calendar-weeks-row {
    height: 25%;
  }
  .x-calendar-weeks-row[data-week="4"] {
    display: none;
  }
  .x-calendar-weeks-row[data-week="5"] {
    display: none;
  }
}
.x-calendar-month-5weeks {
  .x-calendar-weeks-row {
    height: 20%;
  }
  .x-calendar-weeks-row[data-week="5"] {
    display: none;
  }
}
.x-calendar-list {
  padding: 8px;
  .x-calendar-list-item {
    margin: 0 0 5px 0;
    height: 17px;
  }
  .x-calendar-list-item-hidden {
    opacity: 0.5;
  }
  .x-calendar-list-icon {
    width: 17px;
    height: 17px;
  }
  .x-calendar-list-text {
    padding-left: 22px;
  }
}
.x-calendar-picker-list-icon {
  position: absolute;
}
.x-calendar-picker-field-icon {
  position: absolute;
}
.x-calendar-picker-field {
  .x-form-text-wrap {
    position: relative;
  }
  .x-calendar-picker-field-icon {
    left: 10px;
    top: 5px;
    height: 21px;
    width: 21px;
  }
  .x-form-text {
    padding-left: 36px;
  }
}
.x-calendar-picker-list {
  .x-calendar-picker-list-icon {
    width: 22px;
    height: 22px;
    top: 4px;
  }
  .x-calendar-picker-list-text {
    padding-left: 27px;
  }
}
.x-tip-calendar-overflow {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  background-color: $white;
  border-color: $color_eucalyptus_approx;
  .x-tool-img {
    background-image: $url_17;
    background-color: $white;
  }
  .x-tip-anchor {
    border: 10px solid transparent;
    _border-color: $pink;
    _filter: chroma(color=pink);
    &:after {
      position: absolute;
      border: 9px solid transparent;
      content: "";
      _border-color: $pink;
      _filter: chroma(color=pink);
    }
  }
  .x-tip-anchor-top {
    border-top-width: 0;
    border-bottom: 10px solid $color_green_pea_approx;
    top: -10px;
    &:after {
      border-top-width: 0;
      border-bottom-color: $white;
      top: 1px;
      margin-left: -9px;
    }
  }
  .x-tip-anchor-bottom {
    border-bottom-width: 0;
    border-top: 10px solid $color_green_pea_approx;
    bottom: -10px;
    &:after {
      border-bottom-width: 0;
      border-top-color: $white;
      bottom: 1px;
      margin-left: -9px;
    }
  }
  .x-tip-anchor-left {
    border-left-width: 0;
    border-right: 10px solid $color_green_pea_approx;
    left: -10px;
    &:after {
      border-left-width: 0;
      border-right-color: $white;
      left: 1px;
      margin-top: -9px;
    }
  }
  .x-tip-anchor-right {
    border-right-width: 0;
    border-left: 10px solid $color_green_pea_approx;
    right: -10px;
    &:after {
      border-right-width: 0;
      border-left-color: $white;
      right: 1px;
      margin-top: -9px;
    }
  }
}
.x-tip-calendar-overflow-mc {
  background-color: $white;
  padding: 0;
}
.x-tip-calendar-overflow-frameInfo {
  font-family: $font_9;
}
.x-tip-calendar-overflow-tl {
  background-position: 0 -4px;
  padding-left: 2px;
  background-image: $url_15;
}
.x-tip-calendar-overflow-tr {
  background-position: right -6px;
  padding-right: 2px;
  background-image: $url_15;
}
.x-tip-calendar-overflow-bl {
  background-position: 0 -8px;
  padding-left: 2px;
  background-image: $url_15;
}
.x-tip-calendar-overflow-br {
  background-position: right -10px;
  padding-right: 2px;
  background-image: $url_15;
}
.x-tip-calendar-overflow-ml {
  background-position: 0 top;
  padding-left: 2px;
  background-image: $url_15;
  background-image: $url_16;
  background-repeat: repeat-y;
}
.x-tip-calendar-overflow-mr {
  background-position: right top;
  padding-right: 2px;
  background-image: $url_15;
  background-image: $url_16;
  background-repeat: repeat-y;
}
.x-tip-calendar-overflow-tc {
  background-position: 0 0;
  height: 2px;
  background-image: $url_15;
}
.x-tip-calendar-overflow-bc {
  background-position: 0 -2px;
  height: 2px;
  background-image: $url_15;
}
.x-tip-header-calendar-overflow {
  padding: 3px 3px 0 3px;
  .x-tool-after-title {
    margin: 0 0 0 6px;
  }
  .x-tool-before-title {
    margin: 0 6px 0 0;
  }
}
.x-tip-header-title-calendar-overflow {
  color: $color_gallery_approx;
  font-size: 13px;
  font-weight: bold;
}
.x-tip-body-calendar-overflow {
  padding: 6px 8px;
  color: $color_gallery_approx;
  font-size: 13px;
  font-weight: 300;
  a {
    color: $color_gallery_approx;
  }
}
.x-calendar-panel {
  .x-calendar-panel-create-button {
    padding-left: 35px;
    padding-right: 35px;
  }
  .x-calendar-sidebar .x-panel-body {
    padding: 10px;
  }
}
.profile-side {
  background: $color_black_haze_approx;
  border-bottom: 1px solid $black_10 !important;
  padding: 8px;
}
.profile-side-icon {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-color: $concrete;
  border-style: solid;
  border-width: 6px;
}
.profile-side-name {
  text-align: center;
}

.x-calendar-event-resizable:hover .x-calendar-event-resizer {
  display: block;
}
.x-calendar-event-resizing .x-calendar-event-resizer {
  display: block;
}
.x-gecko .x-calendar-days-body-cell {
  position: static;
}
.x-calendar-weeks-with-overflow-bottom .x-calendar-weeks-overflow {
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}
.x-calendar-weeks-with-overflow-top .x-calendar-weeks-overflow {
  top: 5px;
  right: 5px;
}
.x-calendar-weeks-overflow-cell .x-calendar-weeks-overflow {
  display: block;
}
.x-calendar-month-6weeks .x-calendar-weeks-row {
  height: 16.66%;
}
.x-nbr .x-tip-calendar-overflow {
  padding: 0 !important;
  border-width: 0 !important;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  background-color: transparent !important;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none !important;
}
.x-cmd-slicer.x-tip-calendar-overflow:before {
  display: none;
  content: "x-slicer:, frame:2px 2px 2px 2px, corners:$url_15, sides:$url_16" !important;
}
.x-tablet .profile-side {
  margin-bottom: 8px;
}







//
//
//
//
//
////colors
//$white: #fff;
//$color_alto_approx: #ddd;
//$color_cape_cod_approx: #404040;
//$color_white_lilac_approx: #f7f9fd;
//$color_storm_dust_approx: #666;
//$color_apple_blossom_approx: #a94442;
//$color_onahau_approx: #cff;
//$black: #000;
//$color_silver_chalice_approx: #aaa;
//$color_denim_approx: #15c;
//$color_eucalyptus_approx: #208060;
//$color_gallery_approx: #f0f0f0;
//$pink: pink;
//$color_green_pea_approx: #1b6c51;
//$color_black_haze_approx: #f7f7f7;
//$black_10: rgba(0, 0, 0, 0.1);
//$concrete: #f2f2f2;
//
////fonts
//$font_0: ExtJS;
//$font_1: Open Sans;
//$font_2: FontAwesome !important;
//$font_3: Helvetica Neue;
//$font_4: helvetica;
//$font_5: arial;
//$font_6: verdana;
//$font_7: sans-serif;
//$font_8: monospace;
//$font_9: th-2-2-2-2-1-1-1-1-1-1-1-1;
//
//
//.fa-thumbs-down:before {
//  content: "\f165" !important;
//}
//
//.fa-youtube-square:before {
//  content: "\f166" !important;
//}
//
//.fa-youtube:before {
//  content: "\f167" !important;
//}
//
//.fa-xing:before {
//  content: "\f168" !important;
//}
//
//.fa-xing-square:before {
//  content: "\f169" !important;
//}
//
//.fa-youtube-play:before {
//  content: "\f16a" !important;
//}
//
//.fa-dropbox:before {
//  content: "\f16b" !important;
//}
//
//.fa-stack-overflow:before {
//  content: "\f16c" !important;
//}
//
//.fa-instagram:before {
//  content: "\f16d" !important;
//}
//
//.fa-flickr:before {
//  content: "\f16e" !important;
//}
//
//.fa-adn:before {
//  content: "\f170" !important;
//}
//
//.fa-bitbucket:before {
//  content: "\f171" !important;
//}
//
//.fa-bitbucket-square:before {
//  content: "\f172" !important;
//}
//
//.fa-tumblr:before {
//  content: "\f173" !important;
//}
//
//.fa-tumblr-square:before {
//  content: "\f174" !important;
//}
//
//.fa-long-arrow-down:before {
//  content: "\f175" !important;
//}
//
//.fa-long-arrow-up:before {
//  content: "\f176" !important;
//}
//
//.fa-long-arrow-left:before {
//  content: "\f177" !important;
//}
//
//.fa-long-arrow-right:before {
//  content: "\f178" !important;
//}
//
//.fa-apple:before {
//  content: "\f179" !important;
//}
//
//.fa-windows:before {
//  content: "\f17a" !important;
//}
//
//.fa-android:before {
//  content: "\f17b" !important;
//}
//
//.fa-linux:before {
//  content: "\f17c" !important;
//}
//
//.fa-dribbble:before {
//  content: "\f17d" !important;
//}
//
//.fa-skype:before {
//  content: "\f17e" !important;
//}
//
//.fa-foursquare:before {
//  content: "\f180" !important;
//}
//
//.fa-trello:before {
//  content: "\f181" !important;
//}
//
//.fa-female:before {
//  content: "\f182" !important;
//}
//
//.fa-male:before {
//  content: "\f183" !important;
//}
//
//.fa-gittip:before, .fa-gratipay:before {
//  content: "\f184" !important;
//}
//
//.fa-sun-o:before {
//  content: "\f185" !important;
//}
//
//.fa-moon-o:before {
//  content: "\f186" !important;
//}
//
//.fa-archive:before {
//  content: "\f187" !important;
//}
//
//.fa-bug:before {
//  content: "\f188" !important;
//}
//
//.fa-vk:before {
//  content: "\f189" !important;
//}
//
//.fa-weibo:before {
//  content: "\f18a" !important;
//}
//
//.fa-renren:before {
//  content: "\f18b" !important;
//}
//
//.fa-pagelines:before {
//  content: "\f18c" !important;
//}
//
//.fa-stack-exchange:before {
//  content: "\f18d" !important;
//}
//
//.fa-arrow-circle-o-right:before {
//  content: "\f18e" !important;
//}
//
//.fa-arrow-circle-o-left:before {
//  content: "\f190" !important;
//}
//
//.fa-toggle-left:before, .fa-caret-square-o-left:before {
//  content: "\f191" !important;
//}
//
//.fa-dot-circle-o:before {
//  content: "\f192" !important;
//}
//
//.fa-wheelchair:before {
//  content: "\f193" !important;
//}
//
//.fa-vimeo-square:before {
//  content: "\f194" !important;
//}
//
//.fa-turkish-lira:before, .fa-try:before {
//  content: "\f195" !important;
//}
//
//.fa-plus-square-o:before {
//  content: "\f196" !important;
//}
//
//.fa-space-shuttle:before {
//  content: "\f197" !important;
//}
//
//.fa-slack:before {
//  content: "\f198" !important;
//}
//
//.fa-envelope-square:before {
//  content: "\f199" !important;
//}
//
//.fa-wordpress:before {
//  content: "\f19a" !important;
//}
//
//.fa-openid:before {
//  content: "\f19b" !important;
//}
//
//.fa-institution:before, .fa-bank:before, .fa-university:before {
//  content: "\f19c" !important;
//}
//
//.fa-mortar-board:before, .fa-graduation-cap:before {
//  content: "\f19d" !important;
//}
//
//.fa-yahoo:before {
//  content: "\f19e" !important;
//}
//
//.fa-google:before {
//  content: "\f1a0" !important;
//}
//
//.fa-reddit:before {
//  content: "\f1a1" !important;
//}
//
//.fa-reddit-square:before {
//  content: "\f1a2" !important;
//}
//
//.fa-stumbleupon-circle:before {
//  content: "\f1a3" !important;
//}
//
//.fa-stumbleupon:before {
//  content: "\f1a4" !important;
//}
//
//.fa-delicious:before {
//  content: "\f1a5" !important;
//}
//
//.fa-digg:before {
//  content: "\f1a6" !important;
//}
//
//.fa-pied-piper:before {
//  content: "\f1a7" !important;
//}
//
//.fa-pied-piper-alt:before {
//  content: "\f1a8" !important;
//}
//
//.fa-drupal:before {
//  content: "\f1a9" !important;
//}
//
//.fa-joomla:before {
//  content: "\f1aa" !important;
//}
//
//.fa-language:before {
//  content: "\f1ab" !important;
//}
//
//.fa-fax:before {
//  content: "\f1ac" !important;
//}
//
//.fa-building:before {
//  content: "\f1ad" !important;
//}
//
//.fa-child:before {
//  content: "\f1ae" !important;
//}
//
//.fa-paw:before {
//  content: "\f1b0" !important;
//}
//
//.fa-spoon:before {
//  content: "\f1b1" !important;
//}
//
//.fa-cube:before {
//  content: "\f1b2" !important;
//}
//
//.fa-cubes:before {
//  content: "\f1b3" !important;
//}
//
//.fa-behance:before {
//  content: "\f1b4" !important;
//}
//
//.fa-behance-square:before {
//  content: "\f1b5" !important;
//}
//
//.fa-steam:before {
//  content: "\f1b6" !important;
//}
//
//.fa-steam-square:before {
//  content: "\f1b7" !important;
//}
//
//.fa-recycle:before {
//  content: "\f1b8" !important;
//}
//
//.fa-automobile:before, .fa-car:before {
//  content: "\f1b9" !important;
//}
//
//.fa-cab:before, .fa-taxi:before {
//  content: "\f1ba" !important;
//}
//
//.fa-tree:before {
//  content: "\f1bb" !important;
//}
//
//.fa-spotify:before {
//  content: "\f1bc" !important;
//}
//
//.fa-deviantart:before {
//  content: "\f1bd" !important;
//}
//
//.fa-soundcloud:before {
//  content: "\f1be" !important;
//}
//
//.fa-database:before {
//  content: "\f1c0" !important;
//}
//
//.fa-file-pdf-o:before {
//  content: "\f1c1" !important;
//}
//
//.fa-file-word-o:before {
//  content: "\f1c2" !important;
//}
//
//.fa-file-excel-o:before {
//  content: "\f1c3" !important;
//}
//
//.fa-file-powerpoint-o:before {
//  content: "\f1c4" !important;
//}
//
//.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
//  content: "\f1c5" !important;
//}
//
//.fa-file-zip-o:before, .fa-file-archive-o:before {
//  content: "\f1c6" !important;
//}
//
//.fa-file-sound-o:before, .fa-file-audio-o:before {
//  content: "\f1c7" !important;
//}
//
//.fa-file-movie-o:before, .fa-file-video-o:before {
//  content: "\f1c8" !important;
//}
//
//.fa-file-code-o:before {
//  content: "\f1c9" !important;
//}
//
//.fa-vine:before {
//  content: "\f1ca" !important;
//}
//
//.fa-codepen:before {
//  content: "\f1cb" !important;
//}
//
//.fa-jsfiddle:before {
//  content: "\f1cc" !important;
//}
//
//.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
//  content: "\f1cd" !important;
//}
//
//.fa-circle-o-notch:before {
//  content: "\f1ce" !important;
//}
//
//.fa-ra:before, .fa-rebel:before {
//  content: "\f1d0" !important;
//}
//
//.fa-ge:before, .fa-empire:before {
//  content: "\f1d1" !important;
//}
//
//.fa-git-square:before {
//  content: "\f1d2" !important;
//}
//
//.fa-git:before {
//  content: "\f1d3" !important;
//}
//
//.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {
//  content: "\f1d4" !important;
//}
//
//.fa-tencent-weibo:before {
//  content: "\f1d5" !important;
//}
//
//.fa-qq:before {
//  content: "\f1d6" !important;
//}
//
//.fa-wechat:before, .fa-weixin:before {
//  content: "\f1d7" !important;
//}
//
//.fa-send:before, .fa-paper-plane:before {
//  content: "\f1d8" !important;
//}
//
//.fa-send-o:before, .fa-paper-plane-o:before {
//  content: "\f1d9" !important;
//}
//
//.fa-history:before {
//  content: "\f1da" !important;
//}
//
//.fa-circle-thin:before {
//  content: "\f1db" !important;
//}
//
//.fa-header:before {
//  content: "\f1dc" !important;
//}
//
//.fa-paragraph:before {
//  content: "\f1dd" !important;
//}
//
//.fa-sliders:before {
//  content: "\f1de" !important;
//}
//
//.fa-share-alt:before {
//  content: "\f1e0" !important;
//}
//
//.fa-share-alt-square:before {
//  content: "\f1e1" !important;
//}
//
//.fa-bomb:before {
//  content: "\f1e2" !important;
//}
//
//.fa-soccer-ball-o:before, .fa-futbol-o:before {
//  content: "\f1e3" !important;
//}
//
//.fa-tty:before {
//  content: "\f1e4" !important;
//}
//
//.fa-binoculars:before {
//  content: "\f1e5" !important;
//}
//
//.fa-plug:before {
//  content: "\f1e6" !important;
//}
//
//.fa-slideshare:before {
//  content: "\f1e7" !important;
//}
//
//.fa-twitch:before {
//  content: "\f1e8" !important;
//}
//
//.fa-yelp:before {
//  content: "\f1e9" !important;
//}
//
//.fa-newspaper-o:before {
//  content: "\f1ea" !important;
//}
//
//.fa-wifi:before {
//  content: "\f1eb" !important;
//}
//
//.fa-calculator:before {
//  content: "\f1ec" !important;
//}
//
//.fa-paypal:before {
//  content: "\f1ed" !important;
//}
//
//.fa-google-wallet:before {
//  content: "\f1ee" !important;
//}
//
//.fa-cc-visa:before {
//  content: "\f1f0" !important;
//}
//
//.fa-cc-mastercard:before {
//  content: "\f1f1" !important;
//}
//
//.fa-cc-discover:before {
//  content: "\f1f2" !important;
//}
//
//.fa-cc-amex:before {
//  content: "\f1f3" !important;
//}
//
//.fa-cc-paypal:before {
//  content: "\f1f4" !important;
//}
//
//.fa-cc-stripe:before {
//  content: "\f1f5" !important;
//}
//
//.fa-bell-slash:before {
//  content: "\f1f6" !important;
//}
//
//.fa-bell-slash-o:before {
//  content: "\f1f7" !important;
//}
//
//.fa-trash:before {
//  content: "\f1f8" !important;
//}
//
//.fa-copyright:before {
//  content: "\f1f9" !important;
//}
//
//.fa-at:before {
//  content: "\f1fa" !important;
//}
//
//.fa-eyedropper:before {
//  content: "\f1fb" !important;
//}
//
//.fa-paint-brush:before {
//  content: "\f1fc" !important;
//}
//
//.fa-birthday-cake:before {
//  content: "\f1fd" !important;
//}
//
//.fa-area-chart:before {
//  content: "\f1fe" !important;
//}
//
//.fa-pie-chart:before {
//  content: "\f200" !important;
//}
//
//.fa-line-chart:before {
//  content: "\f201" !important;
//}
//
//.fa-lastfm:before {
//  content: "\f202" !important;
//}
//
//.fa-lastfm-square:before {
//  content: "\f203" !important;
//}
//
//.fa-toggle-off:before {
//  content: "\f204" !important;
//}
//
//.fa-toggle-on:before {
//  content: "\f205" !important;
//}
//
//.fa-bicycle:before {
//  content: "\f206" !important;
//}
//
//.fa-bus:before {
//  content: "\f207" !important;
//}
//
//.fa-ioxhost:before {
//  content: "\f208" !important;
//}
//
//.fa-angellist:before {
//  content: "\f209" !important;
//}
//
//.fa-cc:before {
//  content: "\f20a" !important;
//}
//
//.fa-shekel:before, .fa-sheqel:before, .fa-ils:before {
//  content: "\f20b" !important;
//}
//
//.fa-meanpath:before {
//  content: "\f20c" !important;
//}
//
//.fa-buysellads:before {
//  content: "\f20d" !important;
//}
//
//.fa-connectdevelop:before {
//  content: "\f20e" !important;
//}
//
//.fa-dashcube:before {
//  content: "\f210" !important;
//}
//
//.fa-forumbee:before {
//  content: "\f211" !important;
//}
//
//.fa-leanpub:before {
//  content: "\f212" !important;
//}
//
//.fa-sellsy:before {
//  content: "\f213" !important;
//}
//
//.fa-shirtsinbulk:before {
//  content: "\f214" !important;
//}
//
//.fa-simplybuilt:before {
//  content: "\f215" !important;
//}
//
//.fa-skyatlas:before {
//  content: "\f216" !important;
//}
//
//.fa-cart-plus:before {
//  content: "\f217" !important;
//}
//
//.fa-cart-arrow-down:before {
//  content: "\f218" !important;
//}
//
//.fa-diamond:before {
//  content: "\f219" !important;
//}
//
//.fa-ship:before {
//  content: "\f21a" !important;
//}
//
//.fa-user-secret:before {
//  content: "\f21b" !important;
//}
//
//.fa-motorcycle:before {
//  content: "\f21c" !important;
//}
//
//.fa-street-view:before {
//  content: "\f21d" !important;
//}
//
//.fa-heartbeat:before {
//  content: "\f21e" !important;
//}
//
//.fa-venus:before {
//  content: "\f221" !important;
//}
//
//.fa-mars:before {
//  content: "\f222" !important;
//}
//
//.fa-mercury:before {
//  content: "\f223" !important;
//}
//
//.fa-intersex:before, .fa-transgender:before {
//  content: "\f224" !important;
//}
//
//.fa-transgender-alt:before {
//  content: "\f225" !important;
//}
//
//.fa-venus-double:before {
//  content: "\f226" !important;
//}
//
//.fa-mars-double:before {
//  content: "\f227" !important;
//}
//
//.fa-venus-mars:before {
//  content: "\f228" !important;
//}
//
//.fa-mars-stroke:before {
//  content: "\f229" !important;
//}
//
//.fa-mars-stroke-v:before {
//  content: "\f22a" !important;
//}
//
//.fa-mars-stroke-h:before {
//  content: "\f22b" !important;
//}
//
//.fa-neuter:before {
//  content: "\f22c" !important;
//}
//
//.fa-genderless:before {
//  content: "\f22d" !important;
//}
//
//.fa-facebook-official:before {
//  content: "\f230" !important;
//}
//
//.fa-pinterest-p:before {
//  content: "\f231" !important;
//}
//
//.fa-whatsapp:before {
//  content: "\f232" !important;
//}
//
//.fa-server:before {
//  content: "\f233" !important;
//}
//
//.fa-user-plus:before {
//  content: "\f234" !important;
//}
//
//.fa-user-times:before {
//  content: "\f235" !important;
//}
//
//.fa-hotel:before, .fa-bed:before {
//  content: "\f236" !important;
//}
//
//.fa-viacoin:before {
//  content: "\f237" !important;
//}
//
//.fa-train:before {
//  content: "\f238" !important;
//}
//
//.fa-subway:before {
//  content: "\f239" !important;
//}
//
//.fa-medium:before {
//  content: "\f23a" !important;
//}
//
//.fa-yc:before, .fa-y-combinator:before {
//  content: "\f23b" !important;
//}
//
//.fa-optin-monster:before {
//  content: "\f23c" !important;
//}
//
//.fa-opencart:before {
//  content: "\f23d" !important;
//}
//
//.fa-expeditedssl:before {
//  content: "\f23e" !important;
//}
//
//.fa-battery-4:before, .fa-battery-full:before {
//  content: "\f240" !important;
//}
//
//.fa-battery-3:before, .fa-battery-three-quarters:before {
//  content: "\f241" !important;
//}
//
//.fa-battery-2:before, .fa-battery-half:before {
//  content: "\f242" !important;
//}
//
//.fa-battery-1:before, .fa-battery-quarter:before {
//  content: "\f243" !important;
//}
//
//.fa-battery-0:before, .fa-battery-empty:before {
//  content: "\f244" !important;
//}
//
//.fa-mouse-pointer:before {
//  content: "\f245" !important;
//}
//
//.fa-i-cursor:before {
//  content: "\f246" !important;
//}
//
//.fa-object-group:before {
//  content: "\f247" !important;
//}
//
//.fa-object-ungroup:before {
//  content: "\f248" !important;
//}
//
//.fa-sticky-note:before {
//  content: "\f249" !important;
//}
//
//.fa-sticky-note-o:before {
//  content: "\f24a" !important;
//}
//
//.fa-cc-jcb:before {
//  content: "\f24b" !important;
//}
//
//.fa-cc-diners-club:before {
//  content: "\f24c" !important;
//}
//
//.fa-clone:before {
//  content: "\f24d" !important;
//}
//
//.fa-balance-scale:before {
//  content: "\f24e" !important;
//}
//
//.fa-hourglass-o:before {
//  content: "\f250" !important;
//}
//
//.fa-hourglass-1:before, .fa-hourglass-start:before {
//  content: "\f251" !important;
//}
//
//.fa-hourglass-2:before, .fa-hourglass-half:before {
//  content: "\f252" !important;
//}
//
//.fa-hourglass-3:before, .fa-hourglass-end:before {
//  content: "\f253" !important;
//}
//
//.fa-hourglass:before {
//  content: "\f254" !important;
//}
//
//.fa-hand-grab-o:before, .fa-hand-rock-o:before {
//  content: "\f255" !important;
//}
//
//.fa-hand-stop-o:before, .fa-hand-paper-o:before {
//  content: "\f256" !important;
//}
//
//.fa-hand-scissors-o:before {
//  content: "\f257" !important;
//}
//
//.fa-hand-lizard-o:before {
//  content: "\f258" !important;
//}
//
//.fa-hand-spock-o:before {
//  content: "\f259" !important;
//}
//
//.fa-hand-pointer-o:before {
//  content: "\f25a" !important;
//}
//
//.fa-hand-peace-o:before {
//  content: "\f25b" !important;
//}
//
//.fa-trademark:before {
//  content: "\f25c" !important;
//}
//
//.fa-registered:before {
//  content: "\f25d" !important;
//}
//
//.fa-creative-commons:before {
//  content: "\f25e" !important;
//}
//
//.fa-gg:before {
//  content: "\f260" !important;
//}
//
//.fa-gg-circle:before {
//  content: "\f261" !important;
//}
//
//.fa-tripadvisor:before {
//  content: "\f262" !important;
//}
//
//.fa-odnoklassniki:before {
//  content: "\f263" !important;
//}
//
//.fa-odnoklassniki-square:before {
//  content: "\f264" !important;
//}
//
//.fa-get-pocket:before {
//  content: "\f265" !important;
//}
//
//.fa-wikipedia-w:before {
//  content: "\f266" !important;
//}
//
//.fa-safari:before {
//  content: "\f267" !important;
//}
//
//.fa-chrome:before {
//  content: "\f268" !important;
//}
//
//.fa-firefox:before {
//  content: "\f269" !important;
//}
//
//.fa-opera:before {
//  content: "\f26a" !important;
//}
//
//.fa-internet-explorer:before {
//  content: "\f26b" !important;
//}
//
//.fa-tv:before, .fa-television:before {
//  content: "\f26c" !important;
//}
//
//.fa-contao:before {
//  content: "\f26d" !important;
//}
//
//.fa-500px:before {
//  content: "\f26e" !important;
//}
//
//.fa-amazon:before {
//  content: "\f270" !important;
//}
//
//.fa-calendar-plus-o:before {
//  content: "\f271" !important;
//}
//
//.fa-calendar-minus-o:before {
//  content: "\f272" !important;
//}
//
//.fa-calendar-times-o:before {
//  content: "\f273" !important;
//}
//
//.fa-calendar-check-o:before {
//  content: "\f274" !important;
//}
//
//.fa-industry:before {
//  content: "\f275" !important;
//}
//
//.fa-map-pin:before {
//  content: "\f276" !important;
//}
//
//.fa-map-signs:before {
//  content: "\f277" !important;
//}
//
//.fa-map-o:before {
//  content: "\f278" !important;
//}
//
//.fa-map:before {
//  content: "\f279" !important;
//}
//
//.fa-commenting:before {
//  content: "\f27a" !important;
//}
//
//.fa-commenting-o:before {
//  content: "\f27b" !important;
//}
//
//.fa-houzz:before {
//  content: "\f27c" !important;
//}
//
//.fa-vimeo:before {
//  content: "\f27d" !important;
//}
//
//.fa-black-tie:before {
//  content: "\f27e" !important;
//}
//
//.fa-fonticons:before {
//  content: "\f280" !important;
//}
//
//.x-fa:before {
//  font-family: FontAwesome !important;
//}
//
//@font-face {
//  font-family: 'ExtJS';
//  src: url('../../classic/resources/font-ext/fonts/ExtJS.eot?-tqegh9');
//  src: url('../../classic/resources/font-ext/fonts/ExtJS.eot?#iefix-tqegh9') format("embedded-opentype"), url('../../classic/resources/font-ext/fonts/ExtJS.ttf?-tqegh9') format("truetype"), url('../../classic/resources/font-ext/fonts/ExtJS.woff?-tqegh9') format("woff"), url('../../classic/resources/font-ext/fonts/ExtJS.svg?-tqegh9#ExtJS') format("svg");
//  font-weight: normal;
//  font-style: normal;
//}
//
//
//.ext {
//  font-family: ExtJS;
//}
//
//.ext-sencha:before {
//  content: "\e61e";
//}
//
//.ext-checkbox-checked:before {
//  content: "\e613";
//}
//
//.ext-checkbox-unchecked:before {
//  content: "\e614";
//}
//
//.ext-chevron-left:before {
//  content: "\e615";
//}
//
//.ext-chevron-right:before {
//  content: "\e616";
//}
//
//.ext-double-chevron-left:before {
//  content: "\e617";
//}
//
//.ext-double-chevron-right:before {
//  content: "\e618";
//}
//
//.ext-sort-down:before {
//  content: "\e619";
//}
//
//.ext-sort-up:before {
//  content: "\e61a";
//}
//
//.ext-spinner-down:before {
//  content: "\e61b";
//}
//
//.ext-spinner-up:before {
//  content: "\e61c";
//}
//
//.ext-square-edit:before {
//  content: "\e61d";
//}
//
//.ext-equals-vertical:before {
//  content: "\e612";
//}
//
//.ext-collapse:before {
//  content: "\e600";
//}
//
//.ext-columns:before {
//  content: "\e601";
//}
//
//.ext-dirty:before {
//  content: "\e602";
//}
//
//.ext-dirty-rtl:before {
//  content: "\e603";
//}
//
//.ext-edit-html:before {
//  content: "\e604";
//}
//
//.ext-equals:before {
//  content: "\e605";
//}
//
//.ext-expand:before {
//  content: "\e606";
//}
//
//.ext-group-by:before {
//  content: "\e607";
//}
//
//.ext-minimize:before {
//  content: "\e608";
//}
//
//.ext-nw-handle:before {
//  content: "\e609";
//}
//
//.ext-ne-handle:before {
//  content: "\e60a";
//}
//
//.ext-sw-handle:before {
//  content: "\e60b";
//}
//
//.ext-se-handle:before {
//  content: "\e60c";
//}
//
//.ext-text-background-color:before {
//  content: "\e60d";
//}
//
//.ext-text-color:before {
//  content: "\e60e";
//}
//
//.ext-text-decrease:before {
//  content: "\e60f";
//}
//
//.ext-text-increase:before {
//  content: "\e610";
//}
//
//.ext-unpin:before {
//  content: "\e611";
//}
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-Light.ttf');
//  font-weight: 300;
//  font-style: normal;
//}
//
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-LightItalic.ttf');
//  font-weight: 300;
//  font-style: italic;
//}
//
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-Regular.ttf');
//  font-weight: 400;
//  font-style: normal;
//}
//
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-Italic.ttf');
//  font-weight: 400;
//  font-style: italic;
//}
//
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-Semibold.ttf');
//  font-weight: 600;
//  font-style: normal;
//}
//
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-SemiboldItalic.ttf');
//  font-weight: 600;
//  font-style: italic;
//}
//
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-Bold.ttf');
//  font-weight: 700;
//  font-style: normal;
//}
//
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-BoldItalic.ttf');
//  font-weight: 700;
//  font-style: italic;
//}
//
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-ExtraBold.ttf');
//  font-weight: 800;
//  font-style: normal;
//}
//
//
//@font-face {
//  font-family: 'Open Sans';
//  src: url('../../resources/fonts/OpenSans-ExtraBoldItalic.ttf');
//  font-weight: 800;
//  font-style: italic;
//}
//
//
//.x-menu-item-active .x-menu-item-text {
//  font-weight: 400;
//}
//
//.x-calendar-event {
//  position: absolute;
//  overflow: hidden;
//  &.x-calendar-event-static {
//    position: static;
//  }
//}
//
//.x-calendar-event-inner {
//  user-select: none;
//  -o-user-select: none;
//  -ms-user-select: none;
//  -moz-user-select: -moz-none;
//  -webkit-user-select: none;
//  -webkit-tap-highlight-color: transparent;
//  -webkit-user-drag: none;
//  cursor: default;
//  height: 100%;
//  width: 100%;
//  cursor: pointer;
//}
//
//.x-calendar-event-inline-title {
//  .x-calendar-event-time {
//    display: inline;
//  }
//  .x-calendar-event-time-separator, .x-calendar-event-time-end {
//    display: none;
//  }
//  .x-calendar-event-inner {
//    white-space: nowrap;
//    text-overflow: ellipsis;
//    overflow: hidden;
//  }
//}
//
//.x-calendar-compact {
//  .x-calendar-event-time {
//    display: none;
//  }
//  .x-calendar-event-inner {
//    overflow: hidden;
//  }
//}
//
//.x-calendar-event-resizer {
//  position: absolute;
//  left: 50%;
//  bottom: 0;
//  cursor: s-resize;
//  display: none;
//}
//
//.x-calendar-event-resizable:hover .x-calendar-event-resizer, .x-calendar-event-resizing .x-calendar-event-resizer {
//  display: block;
//}
//
//.x-calendar-event {
//  .x-calendar-event-inner {
//    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//  }
//  .x-calendar-event-time {
//    padding: 0 4px 0 0;
//  }
//  .x-calendar-event-resizer:after {
//    font-size: 15.6px;
//    font-family: monospace;
//    content: "=";
//  }
//  &.x-calendar-event-dragging, &.x-calendar-event-resizing {
//    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
//    opacity: 0.8;
//  }
//}
//
//.x-calendar-event-week-span {
//  .x-calendar-event-time {
//    display: none;
//  }
//  margin: 3px;
//  .x-calendar-event-inner {
//    padding: 1px 1px 1px 3px;
//    font-size: 13px;
//  }
//}
//
//.x-calendar-event-week-inline {
//  .x-calendar-event-time-separator, .x-calendar-event-time-end {
//    display: none;
//  }
//  margin: 3px;
//  .x-calendar-event-inner {
//    padding: 0 0 0 3px;
//    font-size: 13px;
//  }
//}
//
//.x-calendar-event-day {
//  margin: 1px 0;
//  border-width: 1px;
//  border-style: solid;
//  .x-calendar-event-inner {
//    padding: 2px 4px;
//    font-size: 11.05px;
//  }
//}
//
//.x-calendar-list-item {
//  position: relative;
//}
//
//.x-calendar-list-icon {
//  position: absolute;
//}
//
//.x-calendar-list-text {
//  white-space: nowrap;
//  overflow: hidden;
//  -ms-text-overflow: ellipsis;
//  -o-text-overflow: ellipsis;
//  text-overflow: ellipsis;
//}
//
//.x-calendar-header-table {
//  table-layout: fixed;
//  border-collapse: collapse;
//  width: 100%;
//}
//
//.x-calendar-header-cell {
//  user-select: none;
//  -o-user-select: none;
//  -ms-user-select: none;
//  -moz-user-select: -moz-none;
//  -webkit-user-select: none;
//  -webkit-tap-highlight-color: transparent;
//  -webkit-user-drag: none;
//  cursor: default;
//}
//
//.x-calendar-header-hidden-cell {
//  display: none;
//}
//
//.x-calendar-header {
//  background-color: #fff;
//  .x-calendar-header-cell {
//    font-weight: normal;
//    line-height: 17px;
//    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//    border: 1px solid #ddd;
//    border-bottom-width: 0;
//    text-align: center;
//    color: #404040;
//  }
//  .x-calendar-header-gutter {
//    background-color: #f7f9fd;
//  }
//}
//
//.x-calendar-header-large {
//  .x-calendar-header-cell {
//    font-size: 13px;
//    line-height: 17px;
//    border-bottom-width: 0;
//    padding: 8px 2px;
//  }
//  .x-calendar-header-gutter {
//    width: 4em;
//  }
//}
//
//.x-calendar-header-compact {
//  .x-calendar-header-cell {
//    font-size: 13px;
//    line-height: 17px;
//    border-bottom-width: 0;
//    padding: 3px 2px;
//  }
//  .x-calendar-header-gutter {
//    width: 2em;
//  }
//}
//
//.x-calendar-table {
//  table-layout: fixed;
//  border-collapse: collapse;
//  width: 100%;
//}
//
//.x-calendar-days-table-wrap {
//  display: table;
//  width: 100%;
//  height: 100%;
//}
//
//.x-calendar-days-header-wrap {
//  width: 100%;
//  display: table-cell;
//  position: relative;
//}
//
//.x-calendar-days-body-row {
//  display: table-row;
//  width: 100%;
//  height: 100%;
//}
//
//.x-calendar-days-body-cell {
//  display: table-cell;
//  position: relative;
//  width: 100%;
//}
//
//.x-gecko .x-calendar-days-body-cell {
//  position: static;
//}
//
//.x-calendar-days-body-wrap {
//  position: relative;
//  width: 100%;
//  height: 100%;
//}
//
//.x-calendar-days-table {
//  border-collapse: collapse;
//  table-layout: fixed;
//  width: 100%;
//  height: 100%;
//}
//
//.x-calendar-days-allday-events {
//  position: relative;
//  td {
//    padding: 0;
//  }
//}
//
//.x-calendar-days-allday-background-wrap {
//  position: absolute;
//  left: 0;
//  top: 0;
//  width: 100%;
//  height: 100%;
//}
//
//.x-calendar-days-body-table {
//  position: absolute;
//  height: auto;
//  td {
//    padding: 0;
//  }
//}
//
//.x-calendar-days-time, .x-calendar-days-allday-empty-cell {
//  user-select: none;
//  -o-user-select: none;
//  -ms-user-select: none;
//  -moz-user-select: -moz-none;
//  -webkit-user-select: none;
//  -webkit-tap-highlight-color: transparent;
//  -webkit-user-drag: none;
//  cursor: default;
//}
//
//.x-calendar-days-day-column {
//  position: relative;
//  z-index: 0;
//}
//
//.x-calendar-days-day-event-container {
//  position: absolute;
//  height: 100%;
//  top: 0;
//  left: 0;
//  right: 0;
//}
//
//.x-calendar-days-now-marker {
//  position: absolute;
//  left: 0;
//  right: 0;
//  z-index: 1000;
//}
//
//.x-calendar-days {
//  background-color: #fff;
//  .x-calendar-days-header-gutter {
//    background-color: #f7f9fd;
//    border: 1px solid #ddd;
//  }
//  .x-calendar-days-allday-background-cell {
//    border-right: 1px solid #ddd;
//    border-top: 1px solid #ddd;
//  }
//  .x-calendar-days-time-ct {
//    background-color: #f7f9fd;
//    border-left: 1px solid #ddd;
//    border-right: 1px solid #ddd;
//  }
//  .x-calendar-days-time {
//    height: 42px;
//    color: #666;
//    text-align: right;
//    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//    border-bottom: 1px solid #ddd;
//  }
//  .x-calendar-days-time-ampm {
//    line-height: 1em;
//  }
//  .x-calendar-days-day-column {
//    border-right: 1px solid #ddd;
//  }
//  .x-calendar-days-marker {
//    height: 42px;
//    border-bottom: 1px solid #ddd;
//  }
//  .x-calendar-days-marker-alt {
//    height: 21px;
//    border-bottom: 1px dotted #ddd;
//  }
//  .x-calendar-days-now-marker {
//    margin: 0 5px;
//    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
//    opacity: 0.7;
//    border-width: 2px 0 0 0;
//    border-style: solid;
//    border-color: #a94442;
//  }
//  .x-calendar-days-allday-empty-cell {
//    line-height: 10px;
//    border-bottom: 1px solid #ddd;
//  }
//  .x-calendar-days-selection {
//    background-color: #cff;
//    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
//    opacity: 0.3;
//  }
//}
//
//.x-calendar-days-large {
//  .x-calendar-days-day-event-container {
//    margin-right: 15px;
//    margin-left: 5px;
//  }
//  .x-calendar-days-header-gutter, .x-calendar-days-time-ct {
//    width: 4em;
//  }
//  .x-calendar-days-time {
//    padding: 2px 2px 0 0;
//    font-size: 13px;
//  }
//  .x-calendar-days-marker-alt {
//    height: null/2;
//  }
//  .x-calendar-days-allday-empty-cell {
//    line-height: 10px;
//  }
//}
//
//.x-calendar-days-compact {
//  .x-calendar-days-day-event-container {
//    margin-right: 0;
//    margin-left: 0;
//  }
//  .x-calendar-days-header-gutter, .x-calendar-days-time-ct {
//    width: 2em;
//  }
//  .x-calendar-days-time {
//    padding: 2px 2px 0 0;
//    font-size: 11.05px;
//  }
//  .x-calendar-days-marker-alt {
//    height: null/2;
//  }
//  .x-calendar-days-allday-empty-cell {
//    line-height: 10px;
//  }
//}
//
//.x-calendar-weeks {
//  position: relative;
//}
//
//.x-calendar-weeks-week-rows {
//  width: 100%;
//  height: 100%;
//}
//
//.x-calendar-weeks-cell {
//  user-select: none;
//  -o-user-select: none;
//  -ms-user-select: none;
//  -moz-user-select: -moz-none;
//  -webkit-user-select: none;
//  -webkit-tap-highlight-color: transparent;
//  -webkit-user-drag: none;
//  cursor: default;
//}
//
//.x-calendar-weeks-cell-inner {
//  width: 100%;
//  height: 100%;
//  position: relative;
//}
//
//.x-calendar-weeks-hidden-cell {
//  display: none;
//}
//
//.x-calendar-weeks-overflow {
//  position: absolute;
//  display: none;
//  text-align: center;
//  cursor: pointer;
//}
//
//.x-calendar-weeks-with-overflow-bottom .x-calendar-weeks-overflow {
//  text-align: center;
//  bottom: 0;
//  left: 0;
//  right: 0;
//}
//
//.x-calendar-weeks-with-overflow-top .x-calendar-weeks-overflow {
//  top: 5px;
//  right: 5px;
//}
//
//.x-calendar-weeks-overflow-cell .x-calendar-weeks-overflow {
//  display: block;
//}
//
//.x-calendar-weeks {
//  background-color: #fff;
//  .x-calendar-weeks-cell {
//    border-style: solid;
//    border-color: #ddd;
//    border-width: 1px;
//    vertical-align: top;
//  }
//  .x-calendar-weeks-cell-inner {
//    padding: 2px 0 4px 4px;
//    text-align: left;
//  }
//  .x-calendar-weeks-day-text {
//    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//    color: #000;
//  }
//  .x-calendar-weeks-outside-cell .x-calendar-weeks-day-text {
//    color: #aaa;
//  }
//  .x-calendar-weeks-selection {
//    background-color: #cff;
//    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
//    opacity: 0.3;
//  }
//  .x-calendar-weeks-overflow {
//    color: #15c;
//    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
//  }
//}
//
//.x-calendar-weeks-large, .x-calendar-weeks-compact {
//  .x-calendar-weeks-day-text {
//    font-size: 13px;
//  }
//  .x-calendar-weeks-overflow {
//    font-size: 11.05px;
//  }
//}
//
//.x-calendar-month-4weeks .x-calendar-weeks-row {
//  height: 25%;
//  &[data-week="4"], &[data-week="5"] {
//    display: none;
//  }
//}
//
//.x-calendar-month-5weeks .x-calendar-weeks-row {
//  height: 20%;
//  &[data-week="5"] {
//    display: none;
//  }
//}
//
//.x-calendar-month-6weeks .x-calendar-weeks-row {
//  height: 16.66%;
//}
//
//.x-calendar-list {
//  .x-calendar-list-item {
//    margin: 0 0 5px 0;
//    height: 17px;
//  }
//  .x-calendar-list-item-hidden {
//    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
//    opacity: 0.5;
//  }
//  .x-calendar-list-icon {
//    width: 17px;
//    height: 17px;
//  }
//  .x-calendar-list-text {
//    padding-left: 22px;
//  }
//}
//
//.x-calendar-picker-list-icon, .x-calendar-picker-field-icon {
//  position: absolute;
//}
//
//.x-calendar-picker-field .x-form-text-wrap {
//  position: relative;
//}
//
//.x-calendar-picker-list {
//  .x-calendar-picker-list-icon {
//    width: 22px;
//    height: 22px;
//    top: 4px;
//  }
//  .x-calendar-picker-list-text {
//    padding-left: 27px;
//  }
//}
//
//.x-calendar-picker-field {
//  .x-calendar-picker-field-icon {
//    left: 10px;
//    top: 5px;
//    height: 21px;
//    width: 21px;
//  }
//  .x-form-text {
//    padding-left: 36px;
//  }
//}
//
//.x-tip-calendar-overflow {
//  -webkit-border-radius: 2px;
//  -moz-border-radius: 2px;
//  -ms-border-radius: 2px;
//  -o-border-radius: 2px;
//  border-radius: 2px;
//  padding: 1px 1px 1px 1px;
//  border-width: 1px;
//  border-style: solid;
//  background-color: #fff;
//}
//
//.x-tip-calendar-overflow-mc {
//  background-color: #fff;
//}
//
//.x-nbr .x-tip-calendar-overflow {
//  padding: 0 !important;
//  border-width: 0 !important;
//  -webkit-border-radius: 0px;
//  -moz-border-radius: 0px;
//  -ms-border-radius: 0px;
//  -o-border-radius: 0px;
//  border-radius: 0px;
//  background-color: transparent !important;
//  box-shadow: none !important;
//}
//
//.x-tip-calendar-overflow-frameInfo {
//  font-family: th-2-2-2-2-1-1-1-1-1-1-1-1;
//}
//
//.x-tip-calendar-overflow-tl {
//  background-position: 0 -4px;
//}
//
//.x-tip-calendar-overflow-tr {
//  background-position: right -6px;
//}
//
//.x-tip-calendar-overflow-bl {
//  background-position: 0 -8px;
//}
//
//.x-tip-calendar-overflow-br {
//  background-position: right -10px;
//}
//
//.x-tip-calendar-overflow-ml {
//  background-position: 0 top;
//}
//
//.x-tip-calendar-overflow-mr {
//  background-position: right top;
//}
//
//.x-tip-calendar-overflow-tc {
//  background-position: 0 0;
//}
//
//.x-tip-calendar-overflow-bc {
//  background-position: 0 -2px;
//}
//
//.x-tip-calendar-overflow-tr, .x-tip-calendar-overflow-br, .x-tip-calendar-overflow-mr {
//  padding-right: 2px;
//}
//
//.x-tip-calendar-overflow-tl, .x-tip-calendar-overflow-bl, .x-tip-calendar-overflow-ml {
//  padding-left: 2px;
//}
//
//.x-tip-calendar-overflow-tc, .x-tip-calendar-overflow-bc {
//  height: 2px;
//}
//
//.x-tip-calendar-overflow-tl, .x-tip-calendar-overflow-bl, .x-tip-calendar-overflow-tr, .x-tip-calendar-overflow-br, .x-tip-calendar-overflow-tc, .x-tip-calendar-overflow-bc, .x-tip-calendar-overflow-ml, .x-tip-calendar-overflow-mr {
//  background-image: url(calendar/images/tip/tip-calendar-overflow-corners.gif);
//}
//
//.x-tip-calendar-overflow-ml, .x-tip-calendar-overflow-mr {
//  background-image: url(calendar/images/tip/tip-calendar-overflow-sides.gif);
//  background-repeat: repeat-y;
//}
//
//.x-tip-calendar-overflow-mc {
//  padding: 0px 0px 0px 0px;
//}
//
//.x-cmd-slicer.x-tip-calendar-overflow:before {
//  display: none;
//  content: "x-slicer:, frame:2px 2px 2px 2px, corners:url(calendar/images/tip/tip-calendar-overflow-corners.gif), sides:url(calendar/images/tip/tip-calendar-overflow-sides.gif)" !important;
//}
//
//.x-tip-calendar-overflow {
//  background-color: #fff;
//  border-color: #208060;
//  .x-tool-img {
//    background-image: url(calendar/images/tools/tool-sprites-dark.png);
//    background-color: #fff;
//  }
//}
//
//.x-tip-header-calendar-overflow {
//  .x-tool-after-title {
//    margin: 0 0 0 6px;
//  }
//  .x-tool-before-title {
//    margin: 0 6px 0 0;
//  }
//  padding: 3px 3px 0 3px;
//}
//
//.x-tip-header-title-calendar-overflow {
//  color: #f0f0f0;
//  font-size: 13px;
//  font-weight: bold;
//}
//
//.x-tip-body-calendar-overflow {
//  padding: 6px 8px;
//  color: #f0f0f0;
//  font-size: 13px;
//  font-weight: 300;
//  a {
//    color: #f0f0f0;
//  }
//}
//
//.x-tip-calendar-overflow {
//  .x-tip-anchor {
//    border: 10px solid transparent;
//    _border-color: pink;
//    _filter: chroma(color = pink);
//    &:after {
//      position: absolute;
//      border: 9px solid transparent;
//      content: "";
//      _border-color: pink;
//      _filter: chroma(color = pink);
//    }
//  }
//  .x-tip-anchor-top {
//    border-top-width: 0;
//    border-bottom: 10px solid #1b6c51;
//    top: -10px;
//  }
//  .x-tip-anchor-bottom {
//    border-bottom-width: 0;
//    border-top: 10px solid #1b6c51;
//    bottom: -10px;
//  }
//  .x-tip-anchor-left {
//    border-left-width: 0;
//    border-right: 10px solid #1b6c51;
//    left: -10px;
//  }
//  .x-tip-anchor-right {
//    border-right-width: 0;
//    border-left: 10px solid #1b6c51;
//    right: -10px;
//  }
//  .x-tip-anchor-top:after {
//    border-top-width: 0;
//    border-bottom-color: #fff;
//    top: 1px;
//    margin-left: -9px;
//  }
//  .x-tip-anchor-bottom:after {
//    border-bottom-width: 0;
//    border-top-color: #fff;
//    bottom: 1px;
//    margin-left: -9px;
//  }
//  .x-tip-anchor-left:after {
//    border-left-width: 0;
//    border-right-color: #fff;
//    left: 1px;
//    margin-top: -9px;
//  }
//  .x-tip-anchor-right:after {
//    border-right-width: 0;
//    border-left-color: #fff;
//    right: 1px;
//    margin-top: -9px;
//  }
//}
//
//.x-calendar-panel {
//  .x-calendar-panel-create-button {
//    padding-left: 35px;
//    padding-right: 35px;
//  }
//  .x-calendar-sidebar .x-panel-body {
//    padding: 10px;
//  }
//}
//
//.profile-side {
//  background: #f7f7f7;
//  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
//  padding: 8px;
//}
//
//.profile-side-icon {
//  -webkit-border-radius: 50%;
//  -moz-border-radius: 50%;
//  -ms-border-radius: 50%;
//  -o-border-radius: 50%;
//  border-radius: 50%;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//  background-position: center center;
//  background-repeat: no-repeat;
//  border-color: #f2f2f2;
//  border-style: solid;
//  border-width: 6px;
//}
//
//.profile-side-name {
//  text-align: center;
//}
//
//.x-calendar-list-icon {
//  -webkit-border-radius: 50%;
//  -moz-border-radius: 50%;
//  -ms-border-radius: 50%;
//  -o-border-radius: 50%;
//  border-radius: 50%;
//}
//
//.x-tablet .profile-side {
//  margin-bottom: 8px;
//}
//
//.x-calendar-list {
//  padding: 8px;
//}
//
//
//
//
//
//
//
//
//
//
//
//
//




