/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */


$enable-font-awesome: dynamic(true);

$FAQ-sub-header-color: #333;

$neutral-color: dynamic(#d0d0d0);

$FAQ-tip-list-color-1: #56b650;
$FAQ-tip-list-color-2: #ffc037;
$FAQ-tip-list-color-3: #e55149;
$FAQ-tip-list-color-4: #a97fe3;

$active-heart-icon-color: #facc6e;
$inactive-heart-icon-color: #b2b2b2;


$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;



//----------------------------------------------------
// Wizards

$wizard-primary-background-color: #579ddb;
$wizard-button-background-color: #579ddb;

$wizard-two-primary-background-color: #986291;
$wizard-two-button-background-color: #925e8b;

$wizard-three-primary-background-color: #9cc96b;
$wizard-three-button-background-color: #9cc96b;




//$base-color:#551A8B;
$base-color:#35baf6;
$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: normal;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa;

$button-toolbar-background-color: transparent;
$button-toolbar-border-color: transparent;
$button-toolbar-hover-background-color: #efefef;

$main-nav-width: 260px;
$main-nav-collapsed-width: 64px;

$like-comment-btn-background-color: #f4f4f4;
$like-comment-btn-color: #979797;
$article-comment-color: #eee;


//Form and Toolbar Button UI colors

$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;




$dialog-login-background-color: #83c748;
$create-account-background-color: #a1a1a2;
$dialog-trigger-color: #e5e5e5;


$blank-page-background-color: #ebebeb;
$blank-page-color :#cacaca;



$progress-bar-background-color: #458fd2;
$weather-img-background-color: #82d9EA;
$chart-icon-background-color: #f1f1f1;

$grid-item-edit-btn-color: #e9e9e9;
$grid-item-close-btn-color: #fc8999;
$grid-item-ban-btn-color: #ffc000;
$legend-research: #6aa5db;
$legend-marketing: #ee929c;

$force-background-color: #56B750;


@mixin btn-border($background-color){
  background-color: $background-color;
  border-color: $background-color !important;
  .x-btn-inner-default-toolbar-small{
    color: $lightest-color;
  }
  &:hover{
    .x-btn-inner-default-toolbar-small,.x-btn-inner-default-small{
      color: $background-color;
    }
    .x-btn-icon-el-default-small,.x-btn-icon-el-default-toolbar-small{
      color: $background-color;
    }
    background-color: transparent;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($h-shadow,$v-shadow,$blur,$spread,$shadow-color) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  -ms-box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
  box-shadow: $h-shadow $v-shadow $blur $spread $shadow-color;
}

*:focus {
  outline:0 !important;
}

.shadow-panel, .x-menu-header {
  z-index: 0 !important;
}

.shadow-panel{
  @include box-shadow(0, 1px, 2px, 0, rgba(0,0,0,0.2));

}

.x-css-shadow{
  box-shadow:none !important;
}

.x-fa {
  display: inline-block;
  font: normal normal normal 14px/1 $font-family;
}

.alignRight {
  float: right;
}

.boldFont {
  font-weight: bold;
}
