/*
 This file is part of Saki Grid MultiSearch Package

 Copyright (c) 2014, Jozef Sakalos, Saki

 Package:  saki-grid-multisearch
 Author:   Jozef Sakalos, Saki
 Contact:  http://extjs.eu/contact
 Date:     6. March 2014

 Commercial License
 Developer, or the specified number of developers, may use this file in any number
 of projects during the license period in accordance with the license purchased.

 Uses other than including the file in the project are prohibited.
 See http://extjs.eu/licensing for details.
 */

/**
 * @member Ext.saki.grid.MultiSearch
 */


.saki-gms-ct {
  background-color: $gms-bgcolor;
  border: {
    width: $gms-border-width;
    style: $gms-border-style;
    color: $gms-container-border-color;
    bottom:none;
    top:none;
  }
}

.saki-gms-ct {
  .x-field {
    input {
      border:{
        style:none;
        right:{
          width: $gms-border-width;
          style: $gms-border-style;
          color: $gms-border-color;
        }
      };
      font: {
        size: $gms-font-size;
      }
    }
  }
}

.saki-gms-nofilter {
  background: {
    color: $gms-nofilter-bgcolor;
  };
  border:{
    color: $gms-nofilter-border-color;
    width: $gms-border-width;
    right:{
      color: $gms-nofilter-border-right-color;
      style: $gms-border-style;
    }
    top: {
      style: $gms-border-style;
    }
  }
}

.saki-gms-clear {
  position:absolute;
  right: $gms-clear-right;
  top: $gms-clear-top;
  background: $gms-clear-icon;
  width: $gms-clear-width;
  height: $gms-clear-height;
  cursor: $gms-clear-cursor;
  visibility:hidden;
  -webkit-transition:all $gms-clear-duration $gms-clear-transition;
  -moz-transition:all $gms-clear-duration $gms-clear-transition;
  -o-transition:all $gms-clear-duration $gms-clear-transition;
  opacity:0;
}

.saki-gms-hasvalue:hover .saki-gms-clear {
  visibility:visible;
  -webkit-transition:all $gms-clear-duration $gms-clear-transition;
  -moz-transition:all $gms-clear-duration $gms-clear-transition;
  -o-transition:all $gms-clear-duration $gms-clear-transition;
  opacity:1;
}

.saki-gms-filtered {
  font: {
    weight: $gms-filtered-font-weight;
    style: $gms-filtered-font-style;
  }
  color: $gms-filtered-font-color;
}
.x-tool {
  .saki-gms-icon {
    margin: $gms-tool-margin;
    cursor: $gms-tool-cursor;
  }
}

// eof