
@include extjs-tab-panel-ui(
        $ui: 'ChartMainTabUi',
        $ui-tab-background-color: transparent,
          //$ui-tab-background-color-over: yellow,
        $ui-tab-background-color-active: #35baf6,
        $ui-tab-background-gradient: 'none',
        $ui-tab-background-gradient-over: 'none',
        $ui-tab-background-gradient-active: 'none',
        $ui-tab-color: #606060,
        $ui-tab-color-over: #606060,
        $ui-tab-color-active: #fff,
        $ui-tab-glyph-color: #606060,
        $ui-tab-glyph-color-over: #c4c4c4,
        $ui-tab-glyph-color-active: #fff,
        $ui-tab-glyph-opacity: 1,
        $ui-tab-border-radius: 0,
        $ui-tab-border-color: transparent,
        $ui-tab-border-color-over: transparent,
        $ui-tab-border-width: 1px,
        $ui-tab-font-family: "Open Sans",
          //$ui-tab-inner-border-width: 0,
          //$ui-tab-padding: 24px,
          //$ui-tab-margin: 0,
          //$ui-tab-font-color: #303030 ,
          //$ui-tab-font-size: 15px,
          //$ui-tab-font-size-over: 15px,
          //$ui-tab-font-size-active: 15px,
          //$ui-tab-line-height: 19px,
          //$ui-tab-font-weight: bold,
          //$ui-tab-font-weight-over: bold,
          //$ui-tab-font-weight-active: bold,
          //$ui-tab-icon-width: 24px,
          //$ui-tab-icon-height: 24px,
          // $ui-bar-background-color: rgba(0,0,0,.5),//#f5f4f5,
        $ui-bar-background-color: rgba(245,244,245,0.5),
        $ui-bar-background-gradient: 'none'
  //$ui-bar-padding: 0,
  //$ui-strip-height: 0
);



@include extjs-tab-panel-ui(
        $ui: 'ChartDashboardTabs',
        $ui-tab-background-color: transparent,
                //$ui-tab-background-color-over: yellow,
        $ui-tab-background-color-active: #35baf6,
        $ui-tab-background-gradient: 'none',
        $ui-tab-background-gradient-over: 'none',
        $ui-tab-background-gradient-active: 'none',
        $ui-tab-color: #606060,
        $ui-tab-color-over: #606060,
        $ui-tab-color-active: #fff,
        $ui-tab-glyph-color: #606060,
        $ui-tab-glyph-color-over: #c4c4c4,
        $ui-tab-glyph-color-active: #fff,
        $ui-tab-glyph-opacity: 1,
        $ui-tab-border-radius: 0,
        $ui-tab-border-color: transparent,
        $ui-tab-border-color-over: transparent,
        $ui-tab-border-width: 1px,
        $ui-tab-font-family: "Open Sans",
                //$ui-tab-inner-border-width: 0,
                //$ui-tab-padding: 24px,
                //$ui-tab-margin: 0,
                //$ui-tab-font-color: #303030 ,
                //$ui-tab-font-size: 15px,
                //$ui-tab-font-size-over: 15px,
                //$ui-tab-font-size-active: 15px,
                //$ui-tab-line-height: 19px,
                //$ui-tab-font-weight: bold,
                //$ui-tab-font-weight-over: bold,
                //$ui-tab-font-weight-active: bold,
                //$ui-tab-icon-width: 24px,
                //$ui-tab-icon-height: 24px,
        $ui-bar-background-color: #fffaf0,
        $ui-bar-background-gradient: 'none'
        //$ui-bar-padding: 0,
        //$ui-strip-height: 0
);



.x-action-col-icon{
        font-size: 13px !important;
}



.dashboard-main-chart{
        .x-header{
                &.x-panel-header-light{
                        border-bottom: 1px solid $base-border-color !important;
                        padding:15px 16px;
                        .x-panel-header-title-light{
                                color: $color;
                                font-size: 14px;
                                font-family: "Open Sans";
                                font-weight: Bold;
                        }
                }

                .x-fa{
                        line-height:16px;
                }
                .x-tool-after-title .x-tool-img{
                        display: none;
                }
        }
        .x-collapsed{
                .x-accordion-hd .x-panel-header-title .x-fa:before{
                        content: "\f0da";
                }
        }
        .x-accordion-body{
                padding-left:34px;
        }
        .round-btn{
                @include btn-border($base-color);
        }





        .x-panel-body-default {
                color:$color;
        }
}

.top-info-container{
        color: #4590D3;
        font-size: 13px;
        font-family: "Open Sans";
        .inner {
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
        }
        .dashboard-analytics-percentage{
                font-size: 14px;
        }
}
.dashboard-tools{
        font-size: 18px;
        color: #114355;
        line-height: 15px;
        .x-tool-img{
                background-image: none;
        }
}
.graph-analysis-left .x-progress-bar {
        background-color: $progress-bar-background-color;
}
#dashboard {
        .quick-graph-panel {
                .x-panel-header {
                        background: $lightest-color;
                        padding: 12px;
                        .x-tool-img {
                                display: none;
                        }
                        .x-fa, .x-title-text {
                                color: $color;
                                line-height: 16px;
                                &.x-title-text {
                                        padding-left: 10px;
                                }
                        }
                        .x-title-icon-wrap {
                                height: 30px;
                                width: 30px;
                                border-radius: 15px;
                                background: $chart-icon-background-color;
                                padding: 0;
                        }
                }
        }
}

.weather-panel {
        background: #fff;
}

.weather-image-container {
        height: 80px;
        width: 100px;
        float: left;
        background: $weather-img-background-color;
        text-align: center;
        padding-top: 20px;
}
.weather-details-container {
        color: $progress-bar-background-color;
        line-height: 20px;
        float: left;
        padding: 20px;

        :first-child{
                margin-bottom: 4px;
                font-size: 30px;
        }
}

.graph-analysis-right{
        border-left: 1px solid $base-border-color;
        .right-value{
                text-align:right;
        }
}

.dashboard-member-grid .x-fa, .user-grid .x-fa{
        height: 20px;
        width: 20px;
        background: $grid-item-edit-btn-color;
        line-height: 20px;
        float: left;
        margin-right:10px;
        &:before{
                display:block;
                line-height:20px;
                text-align:center;
        }
        &.fa-close{
                background-color: $grid-item-close-btn-color;
                color: $lightest-color;
        }
        &.fa-ban{
                background-color: $grid-item-ban-btn-color;
                color: $lightest-color;
        }
        &.x-action-col-icon{
                font-size: 13px !important;
        }
}

.overflow-ellipsis{
        overflow:hidden;
}
.pie-legend-container {
        font-size: 11px;
        text-overflow:ellipsis;
        .quick-graph-pie-legend{
                height: 15px;
                width: 15px;
        }
        .x-autocontainer-innerCt{
                padding-left: 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height:14px;
        }
}

.bottom-indent {
        margin-bottom: 16px;
}

.left-aligned-div{
        float:left;
}

.right-aligned-div{
        float: right;
}
.services-text {
        margin: 0 0 10px 5px;
        height: 86px;
        text-overflow: ellipsis;
        overflow: hidden;
}

.services-legend {
        min-width: 240px;
        div {
                width: 15px;
                height: 15px;
                float: left;
                margin: 1px 5px 0 0;
        }
        span {
                font-size: 11px;
                width: 33%;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
        }
}

.service-finance .x-progress-bar, .legend-finance {
        background-color:$grid-item-ban-btn-color;
}
.service-research .x-progress-bar, .legend-research,
.widget-progressbar .x-progress-bar {
        background-color: $legend-research;
}
.service-marketing .x-progress-bar, .legend-marketing {
        background-color: $legend-marketing;
}


.white-panel {
        background: #fff;
}


@include extjs-tab-panel-ui(
        $ui: 'ChartDashboardTabs',
        $ui-tab-background-color: transparent,
                //$ui-tab-background-color-over: yellow,
        $ui-tab-background-color-active: #35baf6,
        $ui-tab-background-gradient: 'none',
        $ui-tab-background-gradient-over: 'none',
        $ui-tab-background-gradient-active: 'none',
        $ui-tab-color: #606060,
        $ui-tab-color-over: #606060,
        $ui-tab-color-active: #fff,
        $ui-tab-glyph-color: #606060,
        $ui-tab-glyph-color-over: #c4c4c4,
        $ui-tab-glyph-color-active: #fff,
        $ui-tab-glyph-opacity: 1,
        $ui-tab-border-radius: 0,
        $ui-tab-border-color: transparent,
        $ui-tab-border-color-over: transparent,
        $ui-tab-border-width: 1px,
        $ui-tab-font-family: "Open Sans",
                //$ui-tab-inner-border-width: 0,
                //$ui-tab-padding: 24px,
                //$ui-tab-margin: 0,
                //$ui-tab-font-color: #303030 ,
                //$ui-tab-font-size: 15px,
                //$ui-tab-font-size-over: 15px,
                //$ui-tab-font-size-active: 15px,
                //$ui-tab-line-height: 19px,
                //$ui-tab-font-weight: bold,
                //$ui-tab-font-weight-over: bold,
                //$ui-tab-font-weight-active: bold,
                //$ui-tab-icon-width: 24px,
                //$ui-tab-icon-height: 24px,
        $ui-bar-background-color: #fffaf0,
        $ui-bar-background-gradient: 'none'
        //$ui-bar-padding: 0,
        //$ui-strip-height: 0
);











.forms-patient-dynamic-window{
       // background-color: $color-soft-purple;
        background-color: $wizard-primary-background-color;
        color: #fff;
        text-align: center;
        position: relative;

        h3 {
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 10px;
        }
}

.patient-dynamic-window-outer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0 1.4em;
}

.patient-dynamic-window-outer:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
}

.patient-dynamic-window-inner {
        display: inline-block;
        vertical-align: middle;
}

.patient-dynamic-window-icon-wrap {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 1.2em;
        height: 100px;
        width: 100px;
        display: inline-block;
}

.patient-dynamic-window-text {
        font-weight: 400;
        margin: 1em 0;
}

.patient-dynamic-window-discount {
        font-weight: 700;
        font-size: 1.2em;
}

.patient-dynamic-window-link {
        padding: 1em 1.2em .3em;
        font-size: 1.2em;
        color: #fff;
        text-decoration: none;
}

.patient-dynamic-window-link:before {
        padding-right: 0.5em;
}
.patient-dynamic-window-textfield{
        //float: bottom;
        // margin:100px 0 0 0;
        //padding: -1.2em;
        position: relative;
        // left: 0;
        // padding: 0 5.4em;
        bottom: 0;
        font-size: 10px;
        border:1px transparent;
        //right:-1%; /* or right 50% */
        text-align: left;
        text-decoration:none;
}




