//
//.eco-voice-panel {
//  @include extjs-panel-ui(
//          $ui: 'voice',
//          $ui-body-background-color: #32404e//rgba(0,0,0,0.7)
//         // $ui-header-color:red,
//         // $ui-header-background-color: rgba(0,0,0,0.7),
//         // $ui-border-radius: 50,
//          //$panel-frame-border-radius: 50%,
//          //$border-radius: $radius
//  )
//}

@include extjs-panel-ui(
        $ui: 'voice',
        $ui-body-background-color: #13242F //#32404e//rgba(0,0,0,0.7)
  // $ui-header-color:yellow,
  // $ui-header-background-color: green
  // $ui-border-radius: 50,
  //$panel-frame-border-radius: 50%,
  //$border-radius: $radius

)


.voiceBase{
  background-color: #13242F !important;//#32404e !important;
}

.audio_2{
   position: relative;
//  background-color: #32404e;
 // top: calc( 50% - 200px );
  //left: calc( 50% - 300px );
  border: 0px !important;

}


.voiceProfile-container {
  .voiceProfilePic {
    border: 4px solid $base-border-color;
    @include border-radius($circle-border-radius);
  }

  .voiceProfileName {
    font-size: 16px;
    font-weight:bold;
    line-height: 30px;
    color: #fff//$color;
  }

  .voiceProfileStatus {
    //font-size: 16px;
    font-weight:bold;
    line-height: 30px;
    color: #fff;
  }

  .voiceProfileDesc {
    color:#fff;//$color;
    line-height:16px;
  }

  .voice-profile-desc {
    .x-box-item, .x-layout-box-item {
      &:before {
        color: $base-color;
        margin-right: 12px;
        font-size: 18px;
        position: relative;
        top: 2px;
      }
    }

    a {
      color:$color;
      text-decoration:none;
    }

    .box {
      margin-left: 40px;
      line-height: 14px;
      font-size: 14px;
      line-height: 18px;
      &:before {
        margin-left: -20px;
        color: $base-color;
      }
    }

    .x-toolbar {
      border: none;
    }
  }
}



@media (max-width: 320px) {
  .phone {
    .voice-profile-desc {
      height: 380px !important;
    }

    .voiceProfile-container {
      .icon-padding:before {
        padding: 16px 8px;
      }

      .timeline-items-wrap {
        .x-dataview-item {
          .timeline-item:before {
            height: 540px;
          }
        }
      }
    }
  }
}

